<head>
    <meta name="description", content="We are the leading company when it comes to linking buyers and sellers of commodities together and our reach
    covers every location within Nigeria.">
    <% products.forEach(function(product){%>
        <meta name="keywords", content="<%=product.name%>, <%=product.name%> for sales, cheap online <%=product.name%>">
    <%})%>
    
</head>
<%-include("./partials/header") %>

<div class="container">
        
    <div class="jumbotron">
        <div class="container">
            <% if(currentUser && currentUser.isAdmin){%>
                <p>You're an admin!</p>
                <% }%>
                        <h2>Welcome to Koye gadget and properties</h2>
                        <p>
                            We are the leading company when it comes to linking buyers and sellers of commodities together and our reach
                            covers every location within Nigeria. 
                            click <a href="/aboutus">here</a> to read more about us
                        </p>
            
            <h3><a class="btn btn-primary btn-lg" href="/allproducts/new">Add new gadget</a></h3>
            <form action="/search" method="post">
                 <input type="search" name="search" autofocus="autofocus" placeholder="enter search key">
                    <button class="btn btn-default" >search</button>
                 
            </form>
           
        </div>
        
    </div>
  
        <div class="row" style="display:flex; flex-wrap: wrap;">
                <% products.slice().reverse().forEach(function(product){%>
                    <div class="col-md-4 col-sm-6">

                        <div class="thumbnail">
                            <img height="250px" alt="<%= product.name %>" src="<%= product.image %>">
                            
                            <div class="para row text-center">
                                <h1><%= product.name %> for sales</h1>
                                <p><%- product.description.substring(0, 100)+ "..." %></p>
                                <p><strong>=N= <%= product.price %></strong></p>
                            </div>
                            <p><a class="btn btn-default btn-block" href="/allproducts/<%= product._id %>">Read more</a></p>
                        </div>    
                            
                        
                    </div>
                    
                <%});%>
        </div>
        
        
   
</div>


<%- include("./partials/footer.ejs") %>